{% extends 'base.html.twig' %}

{% block body %}
 <h1>Je suis Karchal abdelfattah</h1>
 <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, minus accusantium aspernatur ut consequatur odio dolores corporis fugit, totam voluptatem rerum veritatis. Veritatis quis ab, velit hic mollitia nulla officiis saepe! Aspernatur quidem, numquam dolore laborum voluptas est sunt quis hic totam necessitatibus, et harum nihil praesentium dolorem natus sapiente rerum ipsam impedit facere expedita ipsa! Molestias, eaque repellendus quaerat et dolor harum beatae recusandae ducimus quae, eos, delectus sapiente! Animi amet debitis ullam modi! Molestias iste illo aspernatur deleniti fugit? Officiis nihil reprehenderit soluta accusamus. Veritatis officiis consequuntur exercitationem, id cupiditate quod veniam tempore voluptatum consequatur eum eius. Quasi, aliquam illo quos labore inventore qui nam! Reprehenderit, officia dolor! Eum nam commodi perferendis magnam, quidem atque ipsa mollitia error, ea delectus repudiandae. Id inventore, ab eos ex consectetur odit mollitia maxime officiis odio excepturi non at laudantium earum saepe a velit magni ad delectus aut? Deleniti vero suscipit esse est provident cum vitae hic animi voluptatibus cumque unde, obcaecati ab ex repellat quam, nisi totam? Totam doloremque nisi consequuntur neque omnis quam facere mollitia laboriosam, possimus illum vel numquam perspiciatis voluptatibus repudiandae rem delectus modi sed culpa ad, ab fugit est veritatis placeat cupiditate! Saepe ut asperiores quia sint. </p>
   
{% endblock %}

