{% extends "BlogBundle::layout.html.twig" %}


{% block content %}

	<div class="row">
		<div class="col-12">
			<h1>Page accueil</h1>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus similique inventore magni, error, blanditiis quo assumenda, quos cum minima voluptatem fuga obcaecati ab unde repellat voluptatibus quod! Distinctio temporibus mollitia nulla magnam commodi sint officiis nemo similique voluptate officia blanditiis quos omnis voluptatem nobis, quis a cum saepe? Quasi quibusdam ducimus vel perspiciatis unde fugiat facere minus at, ad consequatur mollitia repellendus assumenda ab numquam odio? Maxime molestiae cum rerum eaque laboriosam debitis in, itaque architecto eum sed vel voluptatibus nulla? Recusandae maxime impedit ratione possimus, repudiandae reprehenderit cupiditate veniam ut non iure, quas suscipit sed odit, iusto explicabo pariatur.
			</p>

			<a href=" {{ path('site_show', {id : '2'}) }} " class="btn btn-success">voir plus</a>
		</div>
	</div>


{% endblock %}
