{% extends "::base.html.twig" %}

{% block content %}
	<h1>Page show post
	</h1>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam accusantium eos quos architecto ab sequi modi earum dolor. Modi, quasi. Voluptatem officiis doloremque rerum sequi tenetur quia ut? Quis, enim dolore sequi architecto, accusantium minima possimus fugiat neque cum tempora magnam ipsam corporis non ea debitis reprehenderit! Voluptates id aliquid dolor dignissimos dolores facere, reprehenderit nulla quas odit molestias distinctio deserunt corrupti, non rerum doloribus quis odio similique nam tempora quasi officiis aliquam. Nulla maiores repudiandae repellendus consectetur vel vero! Tempore placeat ducimus esse id odio nisi impedit odit totam! Facilis id qui aut voluptate veritatis enim, dolores sunt sed?
    </p>
{% endblock %}
